{% extends 'base.html' %}


{% block content %}
<h2>TRAGGED HABITS</h2>
<blip class='container'>
    {% for habit in habits %}
    <a href="{% url 'habit-detail' habit.pk %}">
        <div class="habit" id="{{habit.pk}}">
            <p class="habit-name"><strong>{{habit.name}}</strong></p>
            <p class="habit-action">I want to {{habit.action}}</p>
            <p class="habit-goal">My Goal: {{habit.goal}}</p>
            <p class="habit-current">Current: {{ habit.current_log }}</p>
            {% if habit.goal_met %}
                <p>did it!!</p>
            {% else %}
                <p>you'll never make it</p>
            {% endif %}

        </div>
    </a>
    {% endfor %}
</blip>


{% endblock content %}