* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.85);
}

.header {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 3rem;
    width: 100%;

}

.habit {
    display: inline-flex;
    background-color: aquamarine;
    width: 35%;
    margin: 2rem;
    padding: 1rem;
    border: 5px solid;
    border-radius: 5px;
    border-color: black;
}

.habit-name {
    text-emphasis: bold;
}