* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.85);
}

form {
    width: 80%;
    margin: 2rem;
    
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 2rem;
    width: 100%;

}

.header a {
    color: #ffffff;
    text-decoration: none;
}

.header a:hover {
    color: aquamarine;
}

.site-title {
    font-family: 'Faster One', cursive;
    font-size: 5rem;
    margin-left: 2rem;
}

.habit {
    display: inline-flex;
    background-color: aquamarine;
    width: 35%;
    margin: 2rem;
    padding: 1rem;
    border: 5px solid;
    border-radius: 5px;
    border-color: black;
}

.habit-name {
    text-emphasis: bold;
}